a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

a:active {
  color: currentColor;
}

a:visited {
  color: currentColor;
}

.swiper-button-prev,
.swiper-button-next {
  width: 24px !important;
  height: 24px !important;
  padding: 1rem !important;
  background-color: "rgba(0, 0, 0, 0.25)" !important;
  border-radius: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem !important;
}
